<div class="d-flex justify-content-center gap-3 mt-4">
    <a asp-action="Add" asp-controller="Genre" class="btn btn-primary btn-lg">Add Book</a>
    <a class="btn btn-success btn-lg">Show Genres</a>
    
</div>
